extends layout

block content
 h1= title
 form(id='EmployeeForm', action="/resource/employees", method="POST")
  div.form-group
    label.employeeAttr(for='empid') Employee id
    input#empid(type='number', name='empid')
  div.form-group
    label.employeeAttr(for='empname') Employee name
    input#empname(type='text', name='empname')
  div.form-group
    label.employeeAttr(for='empdept') Employee Department
    input#empdept(type='text', name='empdept')
  input(type="submit")
 script.
  document.forms['EmployeeForm'].addEventListener('submit', (event) => {
   event.preventDefault();
   // TODO do something here to show user that form is being submitted
   fetch(event.target.action, {
    method: 'POST',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
   }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
    alert("Save succeded")
    // TODO handle body
   }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
   });
  });